#top-section {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    font-family: helvetica;
}