.likes-modal-follow {
	margin-top: 0px;
	margin-left: auto;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 100; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid rgba(219, 219, 219);
	width: 280px;
	height: 400px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.close-modal {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	align-self: flex-end;
}

.close-modal:hover,
.close-modal:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#unfollow-modal {
	z-index: 10000000;
}

.unfollow-modal-content {
	width: 400px;
	border-radius: 5px;
	border: 1px solid rgba(219, 219, 219);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	margin: auto;
	background-color: rgba(255, 255, 255);
}

.unfollow-modal-content span {
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid rgba(219, 219, 219);
}

.unfollow-modal-content span:first-child {
	color: rgba(237, 73, 86);
	border-top: none;
}

.unfollow-modal-content span:last-child {
	color: #222;
	font-weight: 500;
}

.img-modal {
	height: 50px;
	width: 50px;
	margin-top: 25px;
	margin-bottom: 20px;
}

.modal-content p {
	font-size: 22px;
	font-weight: 600;
	color: #686868;
}

#reg-form,
#login-form {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-bottom: 10px;
}

.modal-button {
	background-color: black;
	color: white;
	width: 100px;
	align-self: center;
	border-radius: 3px;
	width: 100%;
	height: 24px;
	cursor: pointer;
}

.modal-button:hover {
	box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.2);
}

.input-modal {
	background: rgba(239, 239, 239);
	font-size: 16px;
	padding: 3px 16px;
	color: rgba(38, 38, 38);
	z-index: 2;
	border-radius: 8px;
	width: 100%;
	line-height: 18px;
	font-family: helvetica, "Font Awesome 5 Free";
	font-weight: 100;
	outline: none;
}

#already-sign-ip,
#already-login-ip {
	font-size: 10px;
	cursor: pointer;
}

#already-sign-ip:hover,
#already-login-ip:hover {
	color: #0095f6;
}

#likes-modal {
	z-index: 1000;
}

.likes-modal-content {
	width: 400px;
	height: 399px;
	border-radius: 10px;
	border: 1px solid rgba(219, 219, 219);
	margin: auto;
	background-color: rgba(255, 255, 255);
	display: flex;
	flex-direction: column;
}

#likes-modal-header,
#comms-modal-header-mobile,
#share-modal-header,
#search-modal-header,
#notification-modal-header {
	min-height: 42px;
	color: rgba(38, 38, 38);
	font-size: 16px;
	font-weight: bold;
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(219, 219, 219);
	padding-left: 34px;
	padding-right: 16px;
}

#comms-modal-header-mobile {
	padding-right: 12px;
	padding-left: 16px;
}

#comms-modal-header-mobile .comms-icon-span {
	padding: 0px;
}

#comms-modal-header-mobile {
	display: none;
}

#likes-modal-header span,
#comms-modal-header-mobile span,
#share-modal-header span,
#search-modal-header span,
#notification-modal-header span {
	margin-left: auto;
	margin-right: auto;
}

#comms-modal-header-mobile .comms-icon-span {
	margin: 0px;
}

#close-likes-modal {
	cursor: pointer;
}

.ava-img-likes {
	height: 44px;
	width: 44px;
	cursor: pointer;
}

#list-of-likes-div,
#list-of-likes-div-inner {
	overflow-y: scroll;
}

#comments-modal {
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	padding: 24px 64px;
}

#comments-modal-content {
	display: flex;
	min-height: 450px;
	max-height: 100%;
}

#comments-div-img {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	max-height: 100%;
}

#comments-div-img img {
	object-fit: cover;
	width: 100%;
	height: auto;
	max-height: 100%;
	max-width: 500px;
}

#comments-div-modal {
	min-width: 405px;
	width: 500px;
	max-width: 500px;
	/* max-height: 100%; */
	background-color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	flex-direction: column;
}

#comments-modal-close {
	position: absolute;
	right: 18px;
	top: 18px;
	z-index: 1;
	cursor: pointer;
}

#modal-comments-section {
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid rgba(219, 219, 219);
	overflow-y: scroll;
	word-break: break-word;
}

#container-for-comments-in-modal {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

#login-modal {
	z-index: 10000;
}

#register-modal {
	z-index: 10000;
}

#modal-first-comment {
	display: flex;
}

.modal-comments {
	display: flex;
}

.avatar-span-comments {
	background-color: rgba(255, 255, 255);
	border-radius: 50%;
	margin-right: 14px;
}

.avatar-span-comments img {
	width: 32px;
	height: 32px;
}

.first-modal-comment-span {
	font-weight: 600;
	cursor: pointer;
}

.like-comment-div-modal {
	margin-left: auto;
}

.name-span-modal {
	margin-right: 5px;
}

.like-and-when-added-div {
	display: flex;
	gap: 5px;
}

.short-when-added-and-likes {
	margin-top: 8px;
	font-size: 12px;
	color: #8e8e8e;
}

#share-modal-content {
	width: 500px;
	background-color: rgba(255, 255, 255);
	margin: auto;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

#share-to-modal,
#search-div-modal-input-div {
	height: 55px;
	padding: 12px;
	border-bottom: 1px solid rgba(219, 219, 219);
	display: flex;
	align-items: center;
	position: relative;
}

#share-to-modal span {
	font-weight: bold;
	font-size: 15px;
}

.share-modal-text-input,
#search-input-modal {
	margin-left: 5px;
	height: 38px;
	color: rgba(38, 38, 38);
	width: 100%;
}

.share-to-modal-search-results {
	height: 0px;
	overflow-y: scroll;
	flex-direction: column;
	transition: height 0.2s;
	display: flex;
}

.results-active {
	height: 200px;
	border-bottom: 1px solid rgba(219, 219, 219);
	transition: height 0.2s;
}

#send-button-div {
	min-height: 80px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	background-color: rgba(255, 255, 255);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#share-modal-text-input-message {
	margin: 0px;
	padding-left: 3px;
	display: none;
}

#send-share-button {
	width: 100%;
	height: 100%;
	color: white;
	background-color: rgba(0, 149, 246);
	font-weight: bold;
	border-radius: 5px;
	height: 48px;
	cursor: pointer;
}

#send-share-button[disabled] {
	opacity: 0.5;
	cursor: default;
}

.share-modal-single-result,
.noti-modal-single-result,
.noti-modal-single-result-mobile {
	height: 60px;
	display: flex;
	align-items: center;
	padding: 8px 16px 8px 16px;
}

.share-modal-single-result img,
.noti-modal-single-result img,
.noti-modal-single-result-mobile img {
	cursor: pointer;
	height: 44px;
	width: 44px;
	border-radius: 50%;
	margin-right: 12px;
}

.noti-modal-single-result-mobile div {
	font-weight: 400;
}

.noti-mobile-user-span {
	font-weight: 600;
}

.noti-date-mobile {
	color: #8e8e8e;
}

.share-modal-single-result span {
	font-weight: bold;
	cursor: pointer;
}

.div-for-checkbox-button {
	width: 40px;
	height: 40px;
	padding: 8px;
	margin-left: auto;
	cursor: pointer;
}

#sending-to-div-for-picked {
	margin-left: 5px;
	width: max-content;
	display: flex;
	gap: 5px;
}

.picked-button {
	height: 35px;
	color: #0095f6;
	background-color: #e0f1ff;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.picked-button svg {
	cursor: pointer;
}

.share-modal-single-result:hover {
	background-color: #fafafa;
	cursor: pointer;
}

#search-modal-container,
#notification-modal-container {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255);
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100000;
	flex-direction: column;
}

#search-div-modal {
	height: 45px;
	display: flex;
	align-items: center;
	padding: 5px;
}

#search-div-modal-input-div {
	padding: 0px;
	min-height: 55px;
}

#search-input-modal {
	background: inherit;
	margin-left: 0px;
	padding: 0px;
	padding-left: 16px;
}

#close-search-result-div-modal,
#small-spinner-modal {
	right: 16px;
}

#search-results-div-modal,
#notifications-modal-noti {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	padding-top: 10px;
}

#add-post-modal-content {
	width: 447px;
	height: 490px;
	background-color: rgba(255, 255, 255);
	margin: auto;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
}

#add-post-header {
	min-height: 42px;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	border-bottom: 1px solid rgba(219, 219, 219);
	position: relative;
}

#caption-and-tag-span {
	display: none;
}

#add-post-input-div {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

input[type="file"] {
	display: none;
}

#add-post-label {
	width: 250px;
	height: 250px;
	border: 1px solid rgba(219, 219, 219);
	border-radius: 12px;
	margin-top: 80px;
	color: rgba(219, 219, 219);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#add-post-label svg {
	height: 100px;
	width: 100px;
}

#add-post-img-div {
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	display: none;
	position: relative;
}

#img-img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 448px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

#add-post-next-span, #submit-span {
	display: none;
	color: #0095f6;
	font-size: 14px;
	font-weight: 600;
	position: absolute;
	right: 10px;
	cursor: pointer;
}

#spinner-add-photo {
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	color: rgba(219, 219, 219);
}
#add-post-close-mobile, #go-back-arrow {
	position: absolute;
	left: 10px;
	display: none;
	cursor: pointer;
}

#spinner-add-photo {
	display: none;
}

#add-multiple-img {
	position: absolute;
	bottom: 15px;
	right: 15px;
	background: rgba(26, 26, 26, 0.8);
	border-radius: 50%;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#add-multiple-img:hover {
	opacity: 0.7;
}

#multiple-pic-pop-up {
	position: absolute;
	right: 15px;
	bottom: 55px;
	height: 118px;
	opacity: 0;
	background: rgba(26, 26, 26, 0.8);
	border-radius: 8px;
	display: none;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	gap: 10px;
	transition: opacity 180ms linear, transform 90ms ease-out;
}

#multiple-pic-pop-up img {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.pop-up-img-div {
	position: relative;
}

.pop-up-delete-icon {
	position: absolute;
	top: 5px;
	right: 3px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(26, 26, 26, 0.8);
	opacity: 1;
	cursor: pointer;
}

.pop-up-img {
	display: block;
	min-height: 94px;
	min-width: 94px;
	max-height: 94px;
	max-width: 94px;
	object-fit: cover;
	cursor: pointer;
}

#add-pic-pop-up {
	width: 48px;
	height: 48px;
	cursor: pointer;
	border: 1px solid rgba(219, 219, 219);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-dots-div {
	position: absolute;
	bottom: 29px;
	display: none;
	gap: 3px;
}

.slider-dot-modal, .slider-dot-pc {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #a8a8a8;
	transition: all 0.2s ease-in-out;
}

.left-arrow,
.right-arrow {
	position: absolute;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: rgba(26, 26, 26, 0.8);
	opacity: 1;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left-arrow {
	left: 8px;
	display: none;
}

.right-arrow {
	right: 8px;
	display: none;
}

.left-arrow:hover,
.right-arrow:hover {
	opacity: 0.7;
}

.pop-up-pic-not-active {
	filter: brightness(50%);
}

#caption-input-div {
	display: none;
	border-top: 1px solid rgba(219, 219, 219);
}

#caption-emoji-icon-div {
	padding-left: 16px;
}

#caption-textarea {
	height: 100%;
	padding-top: 10px;
}

#tag-drop-down {
	width: 338px;
	height: 226px;
	display: none;
	flex-direction: column;
	background: rgba(255,255,255);
	position: absolute;
	top: 50px;
	left: 50px;
	border-radius: 6px;
	z-index: 1000000;
}

#tag-input-div {
	min-height: 46px;
	max-height: 46px;
	display: flex;
	border-bottom: 1px solid rgba(219, 219, 219);
	align-items: center;
	padding-left: 8px;
	padding-right: 8px;
}

#tag-input-div span {
	padding-left: 12px;
	padding-right: 12px;
	font-weight: 600;
	font-size: 16px;
}

#tag-search-results-div {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 100%;
	z-index: 1000000000;
}

#tag-arrow {
	position: absolute;
	left: 18px;
	bottom: 0;
    top: -6px;
	background: rgba(255,255,255);
	height: 14px;
	transform: rotate(45deg);
	width: 14px;
}

.tag-div, .tag-div-picture-card {
	display: flex;
	position: absolute;
	background-color: rgba(0,0,0);
	color: rgba(255,255,255);
	align-items: center;
	opacity: .95;
	border-radius: 8px;
	padding: 8px 12px;
	width: max-content;
	gap: 8px;
}

.remove-tag-div {
	display: flex;
	align-items: center;
	cursor: pointer;
}

#close-tag-drop-down-mobile {
	display: none;
	padding-top: 2px;
}



@media (max-width: 650px) {
	.unfollow-modal-content {
		width: 270px;
	}

	.likes-modal-content,
	#share-modal-content {
		width: 100%;
		height: 100%;
		border-radius: 0px;
		border: none;
		background-color: rgba(255, 255, 255);
	}

	#comments-div-img {
		display: none;
	}

	#comments-modal {
		padding: 0px;
	}

	#comments-modal-close {
		display: none;
	}

	#comments-modal-content {
		height: 100%;
		width: 100%;
	}

	#comments-div-modal {
		width: 100%;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		max-width: 100%;
	}

	#comments-div-modal .picture-card-header-div,
	#comments-div-modal .icons-in-comments-section,
	#comments-div-modal .number-of-likes-section,
	#comments-div-modal .added-div {
		display: none;
	}

	#comms-modal-header-mobile {
		display: flex;
		position: absolute;
		width: 100%;
		top: 0;
	}

	#comments-div-modal .add-comment-section {
		display: flex;
		border-top: none;
		z-index: 10000;
		height: 60px;
		width: 100%;
	}

	#modal-first-comment {
		padding-bottom: 8px;
		border-bottom: 1px solid #efefef;
	}

	#modal-comments-section {
		gap: 15px;
		overflow-y: scroll;
		height: 100%;
		padding-bottom: 130px;
		position: absolute;
		top: 47px;
	}

	#send-button-div {
		position: absolute;
		bottom: 0;
		width: 100%;
		border-top: 1px solid rgba(219, 219, 219);
	}

	.results-active {
		border-bottom: none;
		height: 100%;
	}

	#div-for-comment-section-in-comment-modal {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 1000000;
		height: 60px;
		background-color: white;
		border-top: 1px solid rgba(219, 219, 219);
	}

	#add-post-modal-content {
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}

	#add-post-close-mobile {
		display: flex;
	}

	#go-back-arrow {
		left: 35px;
	}

	#img-img {
		width: 100%;
		min-height: 100%;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	#caption-input-div {
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	#caption-textarea {
		min-height: 40px !important;
		padding-left: 10px;

	}

	#tag-arrow {
		opacity: 0;
	}

	#tag-drop-down  {
		border-radius: 0px;
	}

	#close-tag-drop-down-mobile {
		display: flex;
	}

	
}



@media (max-width: 374px) {
	.pop-up-img {
		min-height: 74px;
    	min-width: 74px;
    	max-height: 74px;
    	max-width: 74px;
	}

	#multiple-pic-pop-up {
		height: 98px;
	}
	
}
