nav {
    height: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(219,219,219);
    position: fixed;
    top: 0;
    z-index: 3;
}

#bottom-nav {
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    border-bottom: none;
    border-top: 1px solid rgba(219,219,219);
    display: none;
}

.nav-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 60px;
    justify-content: center;
    max-width: 975px;
    padding: 0 20px;
    width: 100%;
    z-index: 10;
}

#logo {
    flex: 1 0 127px;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    height: 36px;
    display: flex;
    align-items: center;
}

#search-div {
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    height: 36px;
    min-width: 125px;
    width: 268px;
    position: relative;
}

#search-input {
    background: rgba(239, 239, 239);
    font-size: 16px;
    padding: 3px 16px;
    color: rgba(38,38,38);
    z-index: 2;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    line-height: 18px;
    font-family: helvetica, "Font Awesome 5 Free";
    font-weight: 100;
    outline: none;
}

#icon-div {
    flex: 1 0 127px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    padding-left: 24px;
    white-space: nowrap;
    
}

.icon-inner-div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.inner-bottom {
    flex: 1 1 auto;
    justify-content: center;
    min-height: 0;
    min-width: 0;
    height: 100%;
}

#ava {
    height: 100%;
    width: 100%;
    /* border: 1px solid rgba(38, 38, 38);
    border-radius: 50%; */
}

.icon-inner-div:not(:first-child) {
    margin-left: 22px;
}

@media (max-width: 650px) {
	#search-div {
        display: none;
    }

    .icon-to-hide {
        display: none;
    }

    nav {
        height: 45px;
    }

    #bottom-nav {
        display: flex;
        z-index: 10;
    }
    
    #nav-container {
        height: 45px;
    }

    .icon-inner-div:not(:first-child) {
        margin-left: 0px;
    }

    .nav-container-bottom {
        padding: 0px;
    }
}


